@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-rgb: 202, 193, 174; /* Pale Beige */
  --accent-color-rgb: 18, 25, 17;  /* Dark Green */
  --secondary-color-rgb: 214, 231, 211;  /* Soft Sage Green */
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--primary-color-rgb));
}

header {
  background-color: rgb(var(--primary-color-rgb));
}

a {
  color: rgb(var(--accent-color-rgb));
}

button {
  background-color: rgb(var(--accent-color-rgb));
  border: none;
  padding: 10px 20px;
  color: rgb(var(--foreground-rgb));
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(var(--accent-color-rgb), 0.8); /* Slightly darker green for hover effect */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
